/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
  font-family: Arial,Helvetica,sans-serif;
}
a{
  text-decoration: none;
  color: #0A0C8F;
  hover: {
    color: #7340F5;
  }
}  

.book_item{
  background: #E8E8E8;
  margin-bottom: 3px;
  padding: 5px;
  width: 500px;
}
.book_item_sidebar{
  display: inline-block; 
  text-align: center;
  margin-right: 5px;
}
.book_item_content{
  display: inline-block;
}
.book_item_title{
  font-size: 24px; 
}
.book_item_subtitle{
  font-size: 14px;
  font-style: italic;
}
.book_item_author{
  font-size: 16px;
}
.voted{
  color: #969696;
}
