/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#user_nav{
  padding: 10px 15px 10px;
  color: #777777;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
}
.book_item_cover_thumbnail{
  display: inline-block;
  float: left;
}
.book_item{
  background: #E8E8E8;
  margin-bottom: 3px;
  padding: 5px;
  display: inline-block;
  width: 100%;
}
.book_item_sidebar{
  display: inline-block; 
  float: left;
  text-align: center;
  margin-right: 4px;
}
.book_item_vote{
}
.book_item_content{
  display: inline-block;
  float: left;
  margin-left: 10px;
}
.book_item_title{
  font-size: 24px; 
}
.book_item_subtitle{
  font-size: 14px;
  font-style: italic;
}
.book_item_author{
  font-size: 16px;
}
.book_item_comment_meta{
  display: inline-block;
  margin-right: 10px;
}
.book_item_review_meta{
  display: inline-block;
}
.voted{
  color: #969696;
}
.comment_name{
  display: inline-block;
  margin-right: 10px;
}
.comment_age{
  display: inline-block;
}
.comment_replies{
  display: inline-block;
}
.comment_sidebar{
  display: inline-block;
}
.comment_content{
  display: inline-block;
}
.comment_user_image{
  margin-right: 5px;
}
#add_review label{
  display: inline-block;
}
#review_body{
  width: 500px;
  height: 200px;
}
#review_title{
  width: 500px;
}
.review_sidebar{
  display: inline-block;
}
.review_content{
  display: inline-block;
}
